<div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <h5>husobee</h5>
  <section>
    <p><a href="https://ben.e-ie.io/" itemprop="name" rel="author">husobee</a>
    is a backend web developer, and technology enthusiast.
    </p>
  </section>
</div>
