<div id="follow-icons">
	<a href="mailto:husobee@e-ie.io" rel="me"><i class="fa fa-email-square fa-2x"></i></a>
	<a href="http://github.com/husobee" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://gitlab.com/husobee" rel="me"><i class="fa fa-git-square fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a> 
</div>  
