		<footer id="footer">
			<section id="footer-message">&copy; {{.Site.Title}}. All rights reserved. Powered by <a href="http://gohugo.io" target="_blank">Hugo</a>. <a href="https://github.com/kathyqian/crisp-ghost-theme" target="_blank">Crisp</a> theme by <a href="http://kathyqian.com" target="_blank">Kathy Qian</a>.</section>
		</footer>

    <script>
      (function(c,f){asyncLoader=function(i,h){i.foreach(function(k,j){e(j,d(j),h)});if(typeof h.callback=="function"){var g=setInterval(function(){if(f.readyState==="complete"){clearInterval(g);h.callback()}},10)}};var d=function(g){var h=g.split(".");return h[h.length-1]},e=function(h,i,g){switch(i){case"js":a(h,g);break;case"css":b(h);break;default:break}},a=function(i,h){var g=document.createElement("script");g.type="text/javascript";g.async=true;g.src=i;document.getElementsByTagName("head")[0].appendChild(g)},b=function(g){var h=document.createElement("link");h.type="text/css";h.rel="stylesheet";h.href=g;document.getElementsByTagName("head")[0].appendChild(h)};Array.prototype.foreach=function(h){for(var g=0;g<this.length;g++){h(g,this[g])}}})(this,document);

      var WebFontConfig={google:{families:["Open Sans:300italic,700italic,300,700","Bree+Serif"]}};
      asyncLoader([
        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css",
        "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js",
        "//cdnjs.cloudflare.com/ajax/libs/webfont/1.5.16/webfontloader.js",
        "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"
      ],{
        callback:function(){
          asyncLoader([
            "{{.Site.BaseURL}}css/rrssb.css",
            "{{ .Site.BaseURL }}js/gist.min.js", 
            "{{ .Site.BaseURL }}js/rrssb.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css"
          ], { callback:function() {
              hljs.initHighlighting();
          }});
        }
      });
    </script>
	{{with  .Site.Params.ga }}
    <script>
    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', '{{.}}', 'auto');
      	ga('send', 'pageview');
    </script>
  {{end}}
	</body>
</html>
